#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;

}
i{
  cursor: pointer;
}
input,button,a,option,select{
  outline: none;
}
.tick-img {
  height: 13px;
  padding: 0 3px;
  color: #E0E7F4;
}
.main-page{
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
.modal-anime{
  animation: foo 0.45s linear;
  @keyframes foo {
    from{
      right: -500px;
    }
    to{
      right: 0;
    }
  }
}
.active-day{
  background: #61A1F5;
  color:white;
  border: 1px solid #61A1F5 !important;
}
.unactive-day{
  background-color: darkgray;
  color:white;
  border: 1px solid darkgray !important;
}
.notification{
  width: 300px;
  display: grid;
  grid-template-columns: auto 20px;
  justify-content: space-between;
  padding: 16px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 3;
  box-shadow: 1px 2px 10px -1px grey;
  border-radius: 4px;
  background: #fff;


  .notification-cancel-icon{
    width: 9px;
    padding: 4px;
    // background: gray;
    border: 1px solid gray;
    border-radius: 16px;
    color: white;
  }
  .notification-h1{
    font-size: 17px;
  }
  p{
    font-size: 12.5px;
  }
}
.center {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.right{
  display: grid;
  justify-content: right;
  justify-items: right;
}
.two-cols {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.orange {
  background: #F7C87A;
}

.purple {
  background: #979EF8;
}

.sky {
  background: #8CE8F3;
}

.pink {
  background: #E2A4AE;
}

.gray {
  background: #E0E7F4;
}

.gray-p{
  color: #C8CCD2;
}

.blue{
  background-color:#61A1F5 ;
}

.blue-p{
  color: #DBEBFD;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

.red {
  color: #ECC4CA;
}
.arrow-container {
  border-radius: 20px;

  &>i {
    width: 22px;
    height: 22px;
    color: #818790;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
  }
}
.addTask {
  color: #71ABF7;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;

  &>span {
    font-size: 20px;
  }
}




.modal-body{
  width: 100vw;
  height: 100vh;
  // background: rgba(#000, #000, #000, 0.6);
  background-color: rgba(0,0,0,0.7);
  z-index: 11;
  position: absolute;
  top: 0;

}
.modal{
  position: absolute;
  // display: none;
  right: 0px;
  top: 0;
  height: 100vh;
  width: 40vw;
  z-index: 111111;
  background-color:#fff;
  border-radius: 15px 0 0 15px;
  padding: 43px 60px;
  box-sizing: border-box;
  .close-container{
    width: 33px;
    height: 33px;
    border-radius: 50px;
    & > img{
      width: 14px;
      height: 14px;
    }
  }
  .modal-heading{
    padding: 12px 0 25px;
    font-size: 34px;
    font-weight: 500;
  }
  .input-container{
    display: grid;
    grid-row-gap: 10px;
    padding: 30px 0 0;
    .input-lable-p{
      font-weight: 500;
      // font-size:

    }
    #color-picker {
      box-sizing: border-box;
      .wrapper-dropdown {
        position: relative;
        width: 200px;
        color: #2e2e2e;
        outline: none;
        cursor: pointer;
        span {
          //width: 100%;
          display: flex;
          border: 1px solid #ababab;
          padding: 5px;
          border-radius: 3px;
          span {
            padding: 0 12px;
            margin-right: 5px;
          }
        }&:after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          right: 16px;
          top: calc(50% + 4px);
          margin-top: -6px;
          border-width: 6px 6px 0 6px;
          border-style: solid;
          border-color: #2e2e2e transparent;
        }
        .dropdown {
          position: absolute;
          z-index: 10;
          top: 100%;
          left: 0;
          right: 0;
          background: #fff;
          font-weight: normal;
          list-style-type: none;
          padding-left: 0;
          margin: 0;
          border: 1px solid #ababab;
          border-top: 0;
          overflow-y: scroll;
          height: 190px;
          li {
            display: flex;
            text-decoration: none;
            color: #2e2e2e;
            padding: 5px;
            cursor: pointer;
            span {
              padding: 0 12px;
              margin-right: 5px;
            }
          }:hover {
            background: #eee;
            cursor: pointer;
          }
        }
      }
    }

    & > input{
      padding: 10px;
      border-radius: 3px;
      border: 1px solid gray;
      & ::-webkit-input-placeholder{
        color: red;
      }
    }
    & > select{
      width: 50%;
      height: 30px;
      & > option{
        padding: 10px;
        & > span{
          padding: 30px;
          background: pink;
          width: 10px;
          height: 20px;
          color: red;
        }
      }
    }
    .save-btn{
      background: #61A1F5;
      padding: 10px 45px;
      color: white;
      font-size: 13px;
      border: none;
      border-radius: 30px;
    }
    .seven-columns{
      display: grid ;
      grid-template-columns: repeat(7,auto);
      & > div{
        width: 34px;
        display: grid;
        justify-content: center;
        align-items: center;
        height: 34px;
        text-align: center;
        grid-gap: 10px;
        font-size: 13.5px;
        border: 1px solid gray;
        border-radius: 3px;
      }


    }
  }
  .input-container2{
    display: grid;
    grid-row-gap: 10px;
    padding: 30px 0 0;
    .input-lable-p{
      font-weight: 500;
    }
    input{
      padding: 10px 0px 10px 10px;
      width: 25px;
      border-radius: 3px !important;
      border: 1px solid gray;
      text-align: center;
      -webkit-appearance: none;
      & ::-webkit-input-placeholder{
        color: red;
      }
    }
    & > div{
      justify-content: start;
      grid-gap: 50px;
    }

  }
}


.main-container {
 width: 960px;
  padding: 20px;
  display: grid;
  grid-template-columns: 67% 24.5%;
  grid-gap: 2%;
  justify-content: space-between;
  .left-container {
    &>header {
      display: grid;
      grid-template-columns: 80% auto;
      grid-gap: 5%;
      justify-content: space-between;
      align-items: center;

      .time-container {
        display: grid;
        grid-template-columns: repeat(4 , 25%);
        justify-items: center;
        background: #EEF0F2;
        border-radius: 33px;
        position: relative;
        z-index: 0;
        &>div {
          position: relative;
          z-index: 2;
          font-size: 14px;
          padding: 10px 0px;
          display: block;
          width: 100%;
          text-align: center;
          border-radius: 33px;
          width: 100%;
          &>hover {
            color: #DBEBFD;
          }
        }

        .absolute-span {
          border-radius: 33px;
          background: #61A1F5;
          position: absolute;
          top: 0;
          left: 0;
          width: 25%;
          height: 39px;
          z-index: 1;
        }

      }
    }

    .second-row {
      display: grid;
      grid-template-columns: 46% 46% 32px 18px;
      padding-top: 37px;
      align-items: center;

      .bold-small-p {
        font-size: 14px;
        font-weight: bold;
        color: #C6CAD1;
      }

      .big-para {
        font-size: 20px;
      }
    }



    .calender-container {
      padding: 40px 0 20px;

      .calender-row {
        display: grid;
        grid-template-columns: 120px 30px 30px 30px 30px 30px 30px 30px;
        justify-content: space-between;
        padding: 11px 0;
        color: #C8CCD2;
        font-size: 14px;
        text-align: center;




      }
      .hidden-square-gray4 {
        width: 30px;
        -webkit-animation: slide 0.5s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 0.5s forwards;
        animation-delay: 2s;
      }

      .spot-container {
        display: flex;
        align-items: center;
        .task-cancel {
          width:7px;
        }
      }

      .square {
        width: 17px;
        height: 17px;
        border-radius: 3px;
        display: block;
        margin: 0 6px;
        cursor: pointer;
        transition: all 0.5s;

      }

      .spot {
        width: 12px;
        height: 12px;
        border-radius: 20px;
        display: block;
        margin-right: 10px;
        cursor: pointer;
      }
      .chart-row{
        .hidden-square-gray{
          width: 100%;
          .hidden-square-orange{
            margin-left: 0px;
          }
        }
      }




      .calender-row2{
        display: grid;
        grid-template-columns:138px auto;
        color: #C8CCD2;
        font-size: 14px;
        text-align: center;
        padding: 10px;
        align-items: center;
        .squares-row{
          display: grid;
        grid-template-columns:repeat(7,30px);
        justify-content: space-between;
        color: #C8CCD2;
        text-align: center;
        justify-items: center;
        }
      }
    }
  }
  .main-div-right-container{
    overflow-x: scroll;
    display: grid;
    flex-wrap: wrap;
    width: 255px;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    position: relative;
    &::-webkit-scrollbar {
      width: 1em;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
      height: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: white;
      outline: 1px solid white;
    }
    .arrows-div {
      position: absolute;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      grid-gap: 193px;
      left: 0;
      top: 0;
    }
    .scroll-div{
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 25px;
    }
  }
  .right-container {
    width: 234px;
    .small-para {
      font-size: 12px;
      color: #C6CAD1;
    }

    .big-para {
      font-size: 17px;
    }



    &>header {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      text-align: center;
      margin-bottom: 32px;

      .arrow-container {
        border-radius: 20px;

        &>i {
          width: 22px;
          height: 22px;
          color: #818790;
          display: grid;
          align-items: center;
          justify-content: center;
          border-radius: 11px;
        }
      }


    }

    .block {
      grid-row-gap: 18px;
      display: grid;
      padding: 0px 0px 0px 13px;
      margin: 23px 0;

    }
    .mark-complete-block{
      grid-row-gap: 11px ;
      display: grid;

      .mark-complete{
        background: #EEF5FD;
        color: #61A1F5;
        font-weight: 900;
        padding: 7px;
        border-radius: 19px;
        font-size: 13px;
        cursor: pointer;
      }
    }
    .orange-border {
      border-left: 2px solid #F7C87A;
    }

    .purple-border {
      border-left: 2px solid #979EF8;
    }

    .sky-border {
      border-left: 2px solid #8CE8F3;
    }

    .pink-border {
      border-left: 2px solid #E2A4AE;
    }

  }
}

///////@at-root
.fade-leave-active {
  transition: margin-left .15s;
}
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  margin-left: 300px;
}
